.lk-cards-father{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
}
.lk-card-son{
    width: 350px;
    height: 560px;
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding-top: 20px;
}
.lk-card-img{
    width: 310px;
    border-radius: 10px;
}
.lk-card-part-o{
   position: relative;
   width: 310px;
}
.lk-card-part-o::after{
    content: '';
    position: absolute;
    width: 310px;
    height: 1px;
    bottom: -10px;
    border-bottom: 1px solid #eeeeee;
}
.lk-card-o-span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.lk-card-span-o{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fbd9cf;
    color: #1e1e1e;
    width: 130px;
    font-size: 14px;
    height: 35px;
    font-weight: 500;
}
.lk-card-span-t{
    font-size: 20px;
    color: #f35525;
    font-weight: 500;
}
.lk-card-h2{
    color: #1e1e1e;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}
.lk-card-ul{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 20px;
}
.lk-card-li{
    color: #4a4a4a;
    list-style-type: none;
}
.lk-card-li span{
    font-weight: 600;
    color: #1e1e1e;
}
.lk-card-button{
    background-color: #1e1e1e;
    color:white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    border: none;
}
.lk-card-button:hover{
    background-color: #f35525;
    color: white;
    transition: 0.4s;
    border: none;
}
@media(max-width:992px){
    .lk-cards-father{
        justify-content: center;
        gap: 50px;
    }
    .lk-father-offer {
        margin: 70px 0 0 0;
    }
}
@media(max-width:768px){
    .lk-cards-father{
        gap: 30px;
    }
    .lk-card-son {
        width: 260px;
        height: 520px;
    }
    .lk-card-part-o ,.lk-card-img,.lk-card-part-o::after{
        width: 240px;
    }
    .lk-card-span-o {
        width: 110px;
    }
    .lk-card-span-t,.lk-card-h2  {
        font-size: 16px;
    }
}