.Input{
    width: 100%;
}
.lk-contact-form-lable{
    color: #3a3a3a;
    padding-left: 10px ;
}
.lk-contact-form-input-add{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    background-color: #f6f6f6;
    border: none;
    margin-top: 15px;
}
.lk-contact-form-input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    background-color: #f6f6f6;
    border: none;
    margin-top: 12px;
}
.lk-contact-form-input::placeholder,.lk-contact-form-input-add::placeholder{
    font-size: 15px;
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
}
@media(max-width:1200px){
    .lk-contact-form-input{
        width: 100%;
    }
}