.lk-father-offer{
    width: 100%;
    padding: 100px 120px;
    background-color: #fafafa;
    margin: 100px 0 0 0;
    font-family: "Poppins", sans-serif;
}
.lk-offer-son-o{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    row-gap: 20px;
}
.lk-offer-o-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.lk-offer-o-button{
    background-color: #1e1e1e;
    border: none;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 140px;
    font-family: "Poppins", sans-serif;
    transition: 0.4s;
    cursor: pointer;
}
.lk-offer-o-button-add{
    background-color: #f35525;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    font-family: "Poppins", sans-serif;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}
.lk-offer-son-t{
    padding-top: 100px;
    display: flex;
    justify-content:space-between;
    align-items: start;
    /* gap: 6%; */
    flex-wrap: wrap;
}
.lk-offer-childs{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}
.lk-offer-child-s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 260px;
    position: relative;
}
.lk-offer-child-s::after{
    content: '';
    position: absolute;
    width: 220px;
    height: 1px;
    bottom: -10px;
    border-bottom: 1px solid #eeeeee;
}
.lk-offer-child-s:nth-child(5)::after{
    border-bottom: none;
}
.lk-offer-child-s-par{
    color: #aaaaaa;
}
.lk-offer-child-s-h2{
    font-size: 20px;
    color: #1e1e1e;
}
.lk-offer-child-img{
    width: 46%;
    max-width: 480px;
    min-width: 330px;
}
.lk-offer-img{
    width: 100%;
}
.lk-offer-child{
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 21px;
    justify-content: start;
    margin-top: -5px;
}
.lk-offer-child-h2{
    font-size: 18px;
    color: #1e1e1e;
}
.lk-offer-child-par{
    font-size: 14px;
    color: #4a4a4a;
    line-height: 30px;
}
@media(max-width:1200px){
    .lk-father-offer{
        padding: 40px 80px;
        margin: 40px 0 0 0;
    }
    .lk-offer-son-t {
        justify-content: space-between;
        row-gap: 50px;
        column-gap: 20px;
        padding-top: 50px;
    }
    .lk-offer-child-img{
       width: 64%;
       max-width: none;
       min-width: auto;
       height: 390px;
    }
    .lk-offer-img{
        height: 100%;
    }
    .lk-vedio-cards{
        margin-top: 50px;
    }
}
@media(max-width:992px){
    .lk-offer-child,.lk-offer-childs,.lk-offer-child-img,.lk-offer-child-s::after{
        width: 100%;
    
    }
    .lk-offer-child-img{
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }
    .lk-offer-child-s{
        width: 90%;
        padding: 15px 0;
    }
}
@media(max-width:768px){
    .lk-father-offer{
        padding: 40px 40px;
        margin: 50px 0 0 0 !important;
    }
    .lk-offer-o-button ,.lk-offer-o-button-add{
        width: 120px;
        font-size: 14px;
    }
    .lk-offer-son-t{
        padding-top: 50px;
    }
    .lk-offer-son-t{
        gap: 30px;
    }
}